body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-columns: auto  ;
  background-color: #515964;
  padding: 5px;
}
.grid-item {
  background-color: #CCCED0;
  border: 1px solid #3D434B;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}