body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(158, 158, 158);
    background: linear-gradient(
        90deg,
        rgba(158, 158, 158, 1) 0%,
        rgba(150, 150, 166, 1) 35%,
        rgba(106, 106, 106, 1) 100%
    );
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #515964;
    padding: 5px;
}

.grid-item {
    font-size: 27px;
    margin: 10px;
    height: 68px;
    display: flex;
    justifycontent: center;
}

.scroll {
    margin: 10px;
    background: rgb(255, 255, 255);
    border: 0.5px solid gray;
    text-align: center;
    position: relative;
}

.beat-card {
    text-align: center;
    margin: 10px;
}

.vinyl {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    #vinyl {
        animation: Logo-spin infinite 1s linear;
    }
}

@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
